* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    overflow: hidden;
    width: 350px;
    height: 350px;
    box-shadow: 1px 1px 12px #a5a5a5;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.book > .cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;
}

.book > .cover > .bg-circles-top,
.book > .cover > .bg-circles-bottom {
    margin-left: -20px;
    white-space: nowrap;
    overflow: hidden;
}

.book > .cover > .bg-circles-top {
    margin-top: -40px;
}

.book > .cover > .bg-circles-bottom {
    margin-bottom: -40px;
}

.bg-circle {
    margin-left: -4px;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: darkslateblue;
    border-radius: 50%;
}